// // .studentListContainer {
// //     // height: 600px; /* Adjust based on header and footer height */
// //     margin-left: 250px; /* Adjust based on your navbar width */
// //     padding-top: 10px; /* Adjust based on header height */
// //     padding-bottom: 60px; /* Adjust based on footer height */
// // }

// // .image {
// //     // max-width: 100%;
// //     width: 100%;
// //     margin-left: 50;
// //     height: 490px; 
// //     max-height: 100%;
// //     // object-fit: contain;
// // }











// .mainwrapper {
//     width: 90%;
//     float: left;
//     height: 600px;
//     border: 1px solid black;
//     border-radius: 2px;
//     background-color: purple;
//     margin-left: 350px;
// }

// .mainwrapper p {
//     color: white;
// }





















// .studentListContainer {
//     padding: 20px;
//     text-align: center;
//     margin: 0 auto;
// }

// .studentTable {
//     width: 100%;
//     border-collapse: collapse;
//     margin: 0 auto;
// }

// .studentTable th,
// .studentTable td {
//     border: 1px solid #ddd;
//     padding: 8px;
//     text-align: left;
// }

// .studentTable th {
//     background-color: #f2f2f2;
//     font-weight: bold;
// }









.mainwrapper {
    width: 80%;
    // background-color: purple;
    border-radius: 10px;
     padding: 30px;
    margin-left: 310px;
}

.table-responsive {
    max-width: 100%;
  
}



