/* StudentAdd.module.scss */
.addStudentsHeading {
    margin-top: 20px; /* Adjust the margin as needed */
    margin-left: 100px; /* Adjust this value to avoid overlapping with the navbar */
}

.logoAdjust {
    // max-width: 100%; /* Adjust the size as needed */
    width: 100%;
    height: 500px;
    margin-top: 20px; /* Add margin to center the image vertically */
    margin-left: 300px;
}
